/* responsividade */

@media screen and (max-width: 500px) {
    .coluna {
      width: 100%;
    }
  }

body {
    background-color: lightblue;
}

/* Imagens */

img {
    max-width: 100%;
    height: auto;
    border-radius: 15%;
    opacity: 0.4;
    filter: blur(0.8px);
}

.coluna{
    flex: 0 0 33.33%;
    max-width: 20%;
    padding: 5px;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Escrita abaixo das imagens */

.mediaFilme {
    text-align: center;
    color:rebeccapurple;
    font-weight: 600;
    font-size: 1.5em;
}

/* Estrelas pontuação */

.image-wrapper{
    position: relative;
    display: inline-block;
}

.rating {
    position: absolute;
    width: 100%;
    top: 75%;
    left: 55%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.star {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(./imagens/star-empty.png);
    background-size: contain;
    cursor: pointer;
}

.star:hover, .star.active {
    background-image: url(./imagens/star-filled.png);
}

.image-wrapper:hover .rating{
    opacity: 1;
    background: linear-gradient(to right, rgba(134, 33, 63, 0.8) 0%, rgba(120, 53, 33, 0.8) 50%, rgba(134, 37, 33, 0.8) 100%);
}

.image-wrapper:hover .imagemFilme{
    opacity: 0.9;
    transition: 0.3s ease-out;
    filter: blur(0px);
    box-shadow: 10px 10px 10px black;
    box-shadow: 0px 0px -20px -20px rgba(0, 0, 0, 0.5) inset;
}